<!DOCTYPE html>
<html lang="en">

    <head>


        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title> Admin</title>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
                <div th:replace="fragments/sideBarAdmin :: sideBarAdmin"></div>
            </ul>

            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div align="center"><h1>Schedule</h1></div>

                <table  class="table table-bordered" id="PersonTabel" >
                    <thead>
                        <tr>
                            <th> Id</th>
                            <th> Name</th>
                            <th> Date</th>
                            <th> Start </th>
                            <th> End  </th>
                            <th> Test  </th>
                            <th> Location</th>
                            <th> PIC</th>
<!--                            <th> Update</th>-->

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "as : ${schedules}">

                            <td th:text = "${as.id}"></td>
                            <td th:text = "${as.apply.candidate.fullName}"></td>
                            <td th:text = "${as.date}"></td>
                            <td th:text = "${as.startTime}"></td>
                            <td th:text = "${as.endTime}"></td>
                            <td th:text = "${as.test.name}"></td>
                            <td th:text = "${as.location}"></td>
                            <td th:text = "${as.pic.fullName}"></td>
                            <!--                        <td th:text = "${as.note}"></td>
                                                    <td th:text = "${as.program.name}"></td>
                            -->                                   
<!--                            <td th:text = "${as.program.hr.fullName}"></td>
                            <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#personModal" >
                                    th:programname='${as.program.id}' th:id='${as.id}' th:pic='${as.program.hr.id}' th:candidate='${as.candidate.id}' 
                                    th:onclick="createSchedule(this.id,this.getAttribute('programname'),this.getAttribute('pic'),this.getAttribute('candidate'))"

                                    Update
                                </button></td>-->

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- End of Content Wrapper -->

        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->


        <!-- Logout Modal-->

        <!-- Modal -->
        <!--        <div th:fragment="modal" class="modal fade" id="personModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add People</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="insertForm" th:action="@{save}" th:object="${person}" method="POST">
                            <form id="insertForm" th:action="@{/saveSchedule}"  th:object="${scheduleInput}" method="POST">
        
                                <div class="modal-body">
                                    <input class="form-control" type="hidden"  th:field="*{id}" id="id" value="" >
                                    <input class="form-control" type="hidden"  th:field="*{test}" id="test" value="">
                                    <input class="form-control" type="hidden"  th:field="*{apply}" id="apply" value="" >
                                    <input class="form-control" type="hidden"  th:field="*{pic}" id="pic" value="">
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                        <div class="col-10">
                                            <input class="form-control" type="date" th:field="*{date}" th:value="*{date}" id="date" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-time-input" class="col-2 col-form-label">Start Time</label>
                                        <div class="col-10">
                                            <input class="form-control" type="time" value="00:00:00" th:field="*{startTime}" th:value="*{startTime}" id="startTime" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-time-input" class="col-2 col-form-label">End Time</label>
                                        <div class="col-10">
                                            <input class="form-control" type="time" value="00:00:00" th:field="*{endTime}" th:value="*{endTime}" id="endTime" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-2 col-form-label">Location</label>
                                        <div class="col-10">
                                            <input class="form-control" type="text"  th:field="*{location}" th:value="*{location}" id="location" >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-2 col-form-label">Test</label>
                                        <select class="form-control" id="test" th:field="*{test}"  >
                                            <option th:each = "as : ${test}"  th:text="${as.name}"  id="test" th:value="${as.id}"></option>
        
                                        </select>
                                    </div>
                                                            <div class="form-group row">
                                                                <label for="example-text-input" class="col-2 col-form-label">Apply</label>
                                                                <select class="form-control" id="apply"  th:field="*{apply}">
                                                                    <option th:each = "as : ${user}"  th:text="${as.name}"  id="apply" th:value="${as.id}"></option>
                                    
                                                                </select>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="example-text-input" class="col-2 col-form-label">PIC</label>
                                                                <select class="form-control" id="test"  th:field="*{pic}">
                                                                    <option th:each = "as : ${hr}" th:text="${as.name}"  id="pic" th:value="${as.id}" ></option>
                                    
                                                                </select>
                                                            </div>
        
        
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Create" name="Create" >
        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>-->

        <!--<div th:replace="fragments/modal :: modal"></div>-->
        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script>
            $(document).ready(function(){
            $('#PersonTabel').DataTable();
            } );
        </script>
        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
        <script>
            function createSchedule(id,programName,pic,candidate){
            console.log(id,programName,pic,candidate);
            $('.modal-body #id').val(id);
            $('.modal-body #test').val(programName);
            $('.modal-body #pic').val(pic);
            $('.modal-body #apply').val(candidate);
            }
        </script>
        <!-- <div th:replace="fragments/header :: header"></div>
          <div th:replace="fragments/footer :: footer"></div>-->
    </body>

</html>

