<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>title</title>
        <!-- Favicon -->
        <link rel="icon" type="image/favicon.png" href="img/favicon.png">

        <!-- Web Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- Bizwheel Plugins CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/cubeportfolio.min.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="css/magnific-popup.min.css">
        <link rel="stylesheet" href="css/owl-carousel.min.css">
        <link rel="stylesheet" href="css/slicknav.min.css">

        <!-- Bizwheel Stylesheet -->  
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/stylenew.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
        <div th:fragment="header" id="header">
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12">
                            <!-- Top Contact -->
                            <div class="top-contact">
                                <div class="single-contact"><i class="fa fa-phone"></i>Phone: +(600) 125-4985-214</div> 
                                <div class="single-contact"><i class="fa fa-envelope-open"></i>Email: info@yoursite.com</div>	
                                <div class="single-contact"><i class="fa fa-clock-o"></i>Opening: 08AM - 09PM</div> 
                            </div>
                            <!-- End Top Contact -->
                        </div>	
                        <div class="col-lg-4 col-12">
                            <div class="topbar-right">
                                <!-- Social Icons -->
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>															
                                <div class="button">
                                    <a href="contact.html" class="bizwheel-btn">Get a Quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middle-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="middle-inner">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3 col-12">
                                        <!-- Logo -->
                                        <div class="logo">
                                            <!-- Image Logo -->
                                            <div class="img-logo">
                                                <a href="index.html">
                                                    <img src="img/logomii.png" height="50%" alt="#">
                                                </a>
                                            </div>
                                        </div>								
                                        <div class="mobile-nav"></div>
                                    </div>
                                    <div class="col-lg-10 col-md-9 col-12">
                                        <div class="menu-area">
                                            <!-- Main Menu -->
                                            <nav class="navbar navbar-expand-lg">
                                                <div class="navbar-collapse">	
                                                    <div class="nav-inner">	
                                                        <div class="menu-home-menu-container">
                                                            <!-- Naviagiton -->
                                                            <ul id="nav" class="nav main-menu menu navbar-nav">
                                                                <li><a th:href="@{/}">Home</a></li>
                                                                <li><a href="#service">Our Services</a></li>
                                                                <li><a href="#portfolio">Our Portfolio</a></li>
                                                                <li class="icon-active"><a href="#">Account</a>
                                                                    <ul class="sub-menu">
                                                                        <li><a th:href="@{/login}">Login</a></li>
                                                                        <li><a th:href="@{/register}">Register</a></li>    
                                                                    </ul>
                                                                </li>
                                                                <li><a href="/register">Contact Us</a></li>
                                                            </ul>
                                                            <!--/ End Naviagiton -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </nav>
                                            <!--/ End Main Menu -->	
                                            <!-- Right Bar -->
                                            <div class="right-bar">
                                                <!-- Search Bar -->
                                                <ul class="right-nav">
                                                    <li class="top-search"><a href="#0"><i class="fa fa-search"></i></a></li>
                                                    <li class="bar"><a class="fa fa-bars"></a></li>
                                                </ul>
                                                <!--/ End Search Bar -->
                                                <!-- Search Form -->
                                                <div class="search-top">
                                                    <form action="#" class="search-form" method="get">
                                                        <input type="text" name="s" value="" placeholder="Search here"/>
                                                        <button type="submit" id="searchsubmit"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </div>
                                                <!--/ End Search Form -->
                                            </div>	
                                            <!--/ End Right Bar -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Popup -->
            <div class="sidebar-popup">
                <div class="cross">
                    <a class="btn"><i class="fa fa-close"></i></a>
                </div>
                <div class="single-content">
                    <h4>About Bizwheel</h4>
                    <p>The main component of a healthy environment for self esteem is that it needs be nurturing. It should provide unconditional warmth.</p>
                    <!-- Social Icons -->
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
                <div class="single-content">
                    <h4>Important Links</h4>   
                    <ul class="links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                        <li><a href="#">Blog & News</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>	
            </div>
        </div>


        <div th:fragment="modals" id="modals">

            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </body>
</html>

